{% extends 'base.html' %}
{% load static %}


{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
 <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
 <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock%}

{% block content %}
   

    <section id="welcome">
        <header>
            <img src= "{% static "blog/images/KV_yacht.jpg" %}" alt="Konstantin -  Is The Author Of This Blog" />
            <h2> KONSTANTIN's BLOG </h2>
        </header>
    <p> Hi, I am Konstantin and I love blog about tech and the world! </p>

    </section>

    <section id="latest-posts">
        <h2> My latest thoughts </h2>
        <ul>
            {% for post in posts %}
           {% include  "blog/includes/post.html" %} 
           {% endfor %}
        </ul>

    </section >
  

    <section id="about">
        <h2> What I Do </h2>
        <p> I love programming, I love to help others and I enjoy exploring new technologies in general! </p>
        <p> My goal is to keep on growing as a developer and if I could help you do the same, I'd be very happy! </p>
    

    </section>


{% endblock %}

