{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="{% static "app.css" %}"/>
        {% block css_files %} {% endblock %}
    </head>


    <body>
        <header id="main-navigation">
            <h1> <a href="{% url "starting-page" %}"> Konstantin's Blog </a> </h1>
            
            <nav>
                <a href="{% url "posts-page" %}"> All posts </a>        
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>